html, body {
  height: 100%;
}

body {
  color: black
}

.section {
  position: relative;
  padding-top: 65px;
  padding-bottom: 65px;
}

.italic {
  font-style: italic;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

/*-----------------------------*/

/*-----------------------------*/

/*рамка круглых иконок*/

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  border: solid 1px #ffb401;
  color: #ffb401;
  font-size: 25px;
  margin: 0 auto 15px;
  text-align: center;
}

/* -----------------------*/

/* -----------------------*/

/*подчеркивание заглавий */

.orangeLine {
  margin-bottom: 20px;
}

.orangeLine:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 10px auto 20px;
  background: #ffb401;
}

/* -----------------------*/

/* -----------------------*/

/*навигационное меню*/

.logo {
  position: relative;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  transition-duration: 0.2s;
}

.logo:hover img {
  transform: scale(1.05);
}

.navbar {
  font-weight: 700;
  box-shadow: 0 1px 10px black;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar ul.nav li a {
  border-bottom: solid 3px transparent;
  padding-top: 20px;
  color: white;
  transition-duration: 0.2s;
}

.navbar ul.nav li a:hover {
  background: transparent;
  border-bottom-color: #ffb401;
  transform: scale(1.05);
}

.navbar ul.nav li a:hover:first-letter {
  color: #ffb401;
}

.navbar-toggle {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffb401;
}

/* -----------------------*/

/* -----------------------*/

/*------------------*/

/* секция главной */

#main {
  height: 100vh;
  background: linear-gradient(90deg, rgba(60, 60, 60, 0.8) 0%, transparent 25%, transparent 75%, rgba(60, 60, 60, 0.8) 100%), url(../src/background/bigexc.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#main h1, #main h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

/*------------------*/

/*------------------*/

/* ссылка на телефон*/

.tel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 130%);
}

.tel h2:hover i {
  color: #ffb401
}

.tel a {
  text-decoration: none;
}

/*------------------*/

/* -----------------------*/

/*анимированный текст*/

.animeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes change {
  0%, 20% {
    transform: translate(0, 0);
  }
  20%, 40% {
    transform: translate(0, -33%);
  }
  40%, 60% {
    transform: translate(0, -66%);
  }
  60%, 80% {
    transform: translate(0, -33%);
  }
  80%, 100% {
    transform: translate(0, 0);
  }
}

/* -----------------------*/

/* -----------------------*/

/* секция техника */

.minipogr, .miniexc, .kara {
  transition-duration: 0.2s;
}

.minipogr:hover, .miniexc:hover, .kara:hover {
  transform: scale(1.02);
  box-shadow: 0 1px 10px #ffb401;
}

/* -----------------------*/

/* -----------------------*/

/*  секция О нас */

#about {
  height: 100%;
  background: linear-gradient(90deg, rgba(60, 60, 60, 0.8) 0%, transparent 25%, transparent 75%, rgba(60, 60, 60, 0.8) 100%), url(../src/background/bigexcAbout.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#about ol {
  list-style: none;
}

#about h3, #about ol {
  font-weight: 700;
  color: black;
}

#about h3 i {
  font-size: 50px;
}

#about .box-simple:hover i {
  color: #ffb401;
}

.box-simple {
  text-align: left;
  margin-bottom: 20px;
  border: solid 1px;
  border-radius: 0 20%;
  padding: 5px;
  background-color: rgba(211, 211, 211, 0.5);
}

/* -----------------------*/

/* -----------------------*/

/* секция контакты */

#contact {
  height: 100%;
  background: linear-gradient(90deg, rgba(60, 60, 60, 0.8) 0%, transparent 25%, transparent 75%, rgba(60, 60, 60, 0.8) 100%), url(../src/background/bigexcForm.jpg);
  background-attachment: fixed;
  background-size: cover;
}

/* -----------------------*/

/* -----------------------*/

/* форма */

.box-simple-right {
  text-align: left;
  margin-bottom: 20px;
  border: solid 1px;
  border-radius: 2%;
  padding: 5px;
  background-color: rgba(211, 211, 211, 0.5);
}

.box-simple-right button:hover {
  background-color: #ffb401
}

/* -----------------------*/

/* -----------------------*/

/* иконки соц сети*/

#contact a {
  font-size: 3em;
  color: black;
  text-decoration: none
}

#contact a:hover:nth-of-type(1) {
  color: #4a76a8;
}

#contact a:hover:nth-of-type(2) {
  color: #ed4956;
}

#contact a:hover:nth-of-type(3) {
  color: #1da1f2;
}

#contact a:hover:nth-of-type(4) {
  color: #ee8208;
}

/* -----------------------*/

/* -----------------------*/

/* карта*/

.map {
  height: 150px;
  width: 100%;
  border: 0;
  margin-top: 20px;
}

/* -----------------------*/

/* -----------------------*/

footer {
  text-align: right;
  color: white;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 10px black;
  background-color: rgba(0, 0, 0, 0.8);
}